---
layout: handbook-page-toc
title: Ecosystem Foundations Team
description: The Ecosystem Foundations team is responsible for foundational Frontend work and our Design System Pajamas.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<!-- Common Links -->
[engineering workflow]: /handbook/engineering/workflow/
[GitLab]: https://gitlab.com/gitlab-org/gitlab
[GitLab UI]: https://gitlab.com/gitlab-org/gitlab-ui
[Pajamas]: https://gitlab.com/gitlab-org/gitlab-services/design.gitlab.com
[#g_ecosystem_foundations]: https://gitlab.slack.com/archives/C010NAWPRV4

## About

The Foundations team is a part of the [Ecosystem Stage](https://about.gitlab.com/handbook/product/categories/#ecosystem-stage).

This page covers processes and information specific to the Foundations team.

Slack Channel (internal): [#g_ecosystem_foundations]

## Team Members

<%= direct_team(role_regexp: /[,&] Ecosystem:Foundations/, manager_role: 'Engineering Manager, Ecosystem:Foundations') %>

## OKRs

TBA

## Metrics

TBA

## Work

In general, we use the standard GitLab [engineering workflow].
However, we work very closely with the Foundations UX Team.

To get in touch with the Foundations team,
it's best to create an issue in the relevant project (typically [GitLab], [Pajamas] or [GitLab UI]) and
add the `~"Category:Foundations"` label, along with any other appropriate labels.
Then, feel free to ping the relevant Product Manager and/or Engineering Manager.

For more urgent items, feel free to use [#g_ecosystem_foundations] on Slack.

### What to work on

TBA

<!-- 

<%= partial("handbook/engineering/development/dev/create/what_to_work_on.erb", locals: { group: "Foundations", slack_channel: "g_ecosystem_foundations" }) %>

[issue board]: https://gitlab.com/groups/gitlab-org/-/boards/1617307?scope=all&label_name[]=Category%3AFoundations
[assignment board]: https://gitlab.com/groups/gitlab-org/-/boards/2168283
-->

### Issue Boards

TBA

### Workflow labels

<!-- <%= partial("handbook/engineering/development/dev/create/workflow_labels.erb", locals: { group_label: 'group::ecosystem' }) %> -->
TBA

### Capacity Planning

<!-- <%= partial("handbook/engineering/development/dev/create/capacity_planning.erb") %> -->
TBA

### Backlog Refinement

<!-- <%= partial("handbook/engineering/development/dev/ecosystem/integrations/backlog_refinement.erb") %> -->
TBA 

### Retrospectives

<!-- <%= partial("handbook/engineering/development/dev/ecosystem/integrations/retrospectives.erb") %> -->
TBA 

## Employee Development

Here are some resources team members can use for employee development:

- [Create Stage Professional Development](https://about.gitlab.com/handbook/engineering/development/dev/create/#professional-development)
- [Create Stage Training opportunities](https://about.gitlab.com/handbook/engineering/development/dev/create/engineers/training/)
- [GitLab Learning and Development](https://about.gitlab.com/handbook/people-group/learning-and-development/)
- [GitLab Learn](https://gitlab.edcast.com/)

